@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courier+Prime&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  background-image: url("./images/monstera.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vh;
  margin: 0;
  padding: 30px;
  color: rgb(247, 247, 247);
}

.jumbotron h3 {
  color: rgb(247, 247, 247);
}

.navbar {
  background-color:rgba(51, 85, 66, 0.5);
}

h1 {
  font-family: 'Abril Fatface';
}

p {text-align: center;}

h3, .card-header {
    font-family: 'Courier Prime', Courier, monospace;

}

.nav-link {
  color: black;
}

footer {
  background-color: rgba(51, 85, 66, 0.5);
  height: 8rem;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.category {
  height: 20rem;
  margin: 1rem;
  justify-content: center;
  background-color:rgba(156, 182, 167, 0.5)
  
}


